body {
  background: #3e443b;
  color: #dadad3;
  font-family: sans-serif;
  font-size: small;
}
.leaflet-container {
  background-color: rgba(255,0,0,0.0);
}
#botw_map {
  display: inline-block;
  height: 99%;
  width: 70%;
}
#sidebar {
  display: inline-block;
  height: 99%;
  width: 29%;
  overflow: scroll;
  white-space: nowrap;
}
#sidebar > .list li, #sidebar > .list {
  list-style-type: none;
  padding: 0;
}
#filter {
  width: 300px;
}
.display-name {
  font-style: italic;
}
.name-separator {
  color: #8c8f87;
}
.internal-name {
  font-family: "Courier New", Courier, monospace;
}
.itemName {
  display: none;
}
.div-icon0 { border-radius: 50%; border: 1px solid #00FFFF; background: rgba(0,255,255,0.25)}
.div-icon1 { border-radius: 50%; border: 1px solid #FFFF00; background: rgba(255,255,0,0.25) }
.div-icon2 { border-radius: 50%; border: 1px solid #FF00FF; background: rgba(255,0,255,0.25) }
.div-icon3 { border-radius: 50%; border: 1px solid #FF6060; background: rgba(255,96,96,0.25) }
.div-icon4 { border-radius: 50%; border: 1px solid #60FF60; background: rgba(96,255,96,0.25) }
.div-icon5 { border-radius: 50%; border: 1px solid #6030FF; background: rgba(96,48,255,0.25) }
.div-icon6 { border-radius: 50%; border: 1px solid #40C0FF; background: rgba(64,192,255,0.25) }
.div-icon7 { border-radius: 50%; border: 1px solid #C0FF40; background: rgba(192,255,64,0.25) }
.div-icon8 { border-radius: 50%; border: 1px solid #FF40C0; background: rgba(255,64,192,0.25) }
.div-icon9 { border-radius: 50%; border: 1px solid #FFC040; background: rgba(255,192,64,0.25) }
.div-icon10 { border-radius: 50%; border: 1px solid #40FFC0; background: rgba(64,255,192,0.25) }
.div-icon11 { border-radius: 50%; border: 1px solid #C040FF; background: rgba(192,64,255,0.25) }
.div-icon12 { border-radius: 50%; border: 1px solid #FFFFFF; background: rgba(255,255,255,0.25) }
.big-icon {
  border-width: 2px;
  text-align: center;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  height: 18px;
  line-height: 18px;
}
a {
  color: #09f;
}

